html,
body {
  font-family: Roboto, sans-serif;
  color: black;
  scroll-behavior: smooth;
}
header {
  text-align: center;
  background-color: #b3b3b3;
  color: black;
  padding: 10px;
}
.wrapper {
  width: 100%;
  background-color: whitesmoke;
  margin-bottom: 0;
}
.sidebar {
  width: 35%;
  background-color: #e6e4e4;
}
.content-info {
  margin-top: 25px;
  width: 90%;
  margin-left: 20px;
  clear:both;
  padding-top: 20px;
  margin-bottom: 0;
}
.profile-img {
  width: 20%;
  border-radius: 50%;
  float: right;
}
.list {
  list-style-type: none;
  margin: 0;
  line-height: 1.4;
}
.menu-item {
  color: black;
  text-decoration: none;
}
.menu {
  padding: 10px;
}
footer {
  margin-top: 0%;
  text-align: center;
  background-color: #b3b3b3;
  color: black;
  padding: 10px;
  clear: both;
}
.list-item {
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
section#interests-section,
#skills-section {
  float: left;
  width: 50%;
}
section#experience-section {
  clear: both;
}

.inline-flex {
  display: inline-flex;
  width: 100%;
}
.ex-list {
  margin: 0;
  margin-bottom: 20px;
  list-style-type: none;
}
.min-width {
  min-width: 20%;
}
a.menu-item:hover {
  color: gray;
}

.logoContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.logoContainer > img {
  width: 80px;
  height: 80px;
}

.additional-pic > picture > img {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  width: 50%;
  margin-left: 30%;
  margin-right: 25%;
  padding-top: 20px;
}

@keyframes profile-img {
  0% {opacity: 0.0;
  transform: translate(-300%, 0);}
  
  100% {opacity: 1.0;}
}
picture > img {
  animation-name: profile-img;
  animation-duration: 4s;
  animation-iteration-count: 4s;
  animation-direction: normal;
}

@media screen and (max-width:768px) {
  .logoContainer > img{
    width: 60px;
    height: 60px;
  }
  .additional-pic > picture > img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    width: 50%;
    margin-left: 30%;
    margin-right: 25%;
    padding-top: 20px;
  }
  .content-info{
    font-size: 90%;
    margin-right: 10px;
    margin-left: 2%;
    display: block;
    margin-bottom: 0%;
  }
  .list-item{
    margin-right: 20px;
  }
  #prof{
    margin-left: 1%;
    width: 70%;
  }
  
}
@media screen and (max-width:550px) {
  .sidebar{
    width: 40%;
   }
  .content-info{
    font-size: 80%;
    margin-right: 10px;
    margin-left: 2%;
    display: block;
    margin-bottom: 0%;
  }
  .logoContainer > img{
    width: 40px;
    height: 40px;
  }
  .list-item{
    margin-right: 40px;
  }
  .additional-pic > picture > img {
    width: 100px;
    height: 100px;
    border-radius: 25%;
    width: 50%;
    margin-left: 30%;
    margin-right: 25%;
    padding-top: 20px;
  }
  footer{
    margin-top: 0%;
  }
  #prof{
    margin-left: 2.5%;
    width: 95%;
  }
}

@media screen and(min-width:1466){
  .wrapper{
    margin-left: 20%;
  }
}

